<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Page</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>Edit Your Blog Here</h1>
    <h3>username: @<%= blog.username %></h3>
    <form action="/blogs/<%=blog.id%>?_method=PATCH" method="post">
        <textarea name="content" rows="26" cols="46" id=""><%=blog.content%></textarea><br><br>
        <button>Submit</button>
    </form>
</body>
</html>