<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Page</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>Write Your Blog</h1>
    <form action="/blogs" method="post">
        <input type="text" placeholder="enter your username" name="username"><br><br>
        <textarea name="content" rows="28" cols="46" id=""></textarea><br><br>
        <button>Submit</button>
    </form>
</body>
</html>