<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show All Details</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>Here All Details Of Your Blog</h1>
    <br>
    <div class="show">
        <h3>unique id: <%=blog.id%></h3>
        <h3>username: @<%=blog.username%></h3>
        <h3>content: <%=blog.content%></h3>
    </div>
    <a href="http://localhost:8080/blogs">Back</a>
</body>
</html>